*{ margin:0px; padding:0px;}
@font-face {
    font-family: HelveticaNeue-Light;
	src: url(../fonts/HelveticaNeue-Light.otf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);	
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);	
}

body{ font-family: HelveticaNeue-Light !important;}
a{text-decoration:none !important;}

strong{color:#1262ff;}
p{ font-size:16px; }
.form-control{height:auto;}


/****************************** start pre define classes ****************************/
.mt1{margin-top:10px;}
.mt2{margin-top:20px;}
.mt3{margin-top:30px;}
.mt4{margin-top:40px;}
.mt5{margin-top:50px;}
.mt6{margin-top:60px;}
.mt7{margin-top:70px;}
.mt8{margin-top:80px;}
.mt9{margin-top:90px;}
.mt10{margin-top:100px;}
.mt11{margin-top:110px;}
.mt12{margin-top:120px;}

.mb1{margin-bottom:10px;}
.mb2{margin-bottom:20px;}
.mb3{margin-bottom:30px;}
.mb4{margin-bottom:40px;}
.mb5{margin-bottom:50px;}
.mb6{margin-bottom:60px;}
.mb7{margin-bottom:70px;}
.mb8{margin-bottom:80px;}
.mb9{margin-bottom:90px;}
.mb10{margin-bottom:100px;}
.mb11{margin-bottom:110px;}
.mb12{margin-bottom:120px;}

.pb1{padding-bottom:10px;}
.pb2{padding-bottom:20px;}
.pb3{padding-bottom:30px;}
.pb4{padding-bottom:40px;}
.pb5{padding-bottom:50px;}
.pb6{padding-bottom:60px;}
.pb7{padding-bottom:70px;}
.pb8{padding-bottom:80px;}
.pb9{padding-bottom:90px;}
.pb10{padding-bottom:100px;}
.pb11{padding-bottom:110px;}
.pb12{padding-bottom:120px;}

.pt1{padding-top:10px;}
.pt2{padding-top:20px;}
.pt3{padding-top:30px;}
.pt4{padding-top:40px;}
.pt5{padding-top:50px;}
.pt6{padding-top:60px;}
.pt7{padding-top:70px;}
.pt8{padding-top:80px;}
.pt9{padding-top:90px;}
.pt10{padding-top:100px;}
.pt11{padding-top:110px;}
.pt12{padding-top:120px;}

.pl0{padding-left:0px;}
.pr0{padding-right:0px;}

.ml0{margin-left:0px;}
.mr0{margin-right:0px;}

.ml15{margin-left:15px;}
.mr15{margin-right:15px;}

/****************************** end pre define classes ****************************/

/*************************** start buttons css *********************************/

	
.normal-btn{padding:15px 55px 15px 55px !important; border:1px solid #95989a;
webkit-transition: background 0.2s ease-out, color 0.2s ease-out, border-color 0.2s ease-out;
    transition: all 0.2s ease-out;}

.normal2-btn{padding:15px 35px 15px 35px !important; border:1px solid #95989a;
webkit-transition: background 0.2s ease-out, color 0.2s ease-out, border-color 0.2s ease-out;
    transition: all 0.2s ease-out;}
	
.white{border-color: #95989a;color:#fff!important;}
.white:hover{border-color: #fff !important;color:#000 !important; background-color:#fff !important;}

.yellow{border-color: #d8e028;color:#d8e028; background:transparent !important;}
.yellow:hover{border-color: #d8e028 !important;color:#fff !important; background-color:#d8e028 !important;}

.yellow-fill{border-color: #7f8c8d;color:#fff; background-color:#d8e028;}
.yellow-fill:hover, .yellow-fill:focus{border-color: #d8e028 !important;color:#d8e028 !important; background-color:transparent !important;}

/*************************** end buttons css *********************************/

.navbar{border:0px; border-radius:0px; margin-bottom:0px;}
.navbar-fixed-top, .navbar-fixed-bottom{border:0px;}
.navbar-default{background:#175463; color:#fff;}
.navbar-right{margin-top:20px; margin-bottom:20px;}
.navbar-default .navbar-nav > li > a{color:#fff; font-size:18px; font-family: HelveticaNeue-Light;padding: 15px 20px;}
.navbar-default .navbar-nav > li > a:hover{color:#d8e028;}
.singup-btn{padding:12px 50px 12px 50px !important; background:#d8e028; color:#95989a; border:2px solid #d8e028;
 color:#95989a !important;
webkit-transition: background 0.2s ease-out, color 0.2s ease-out, border-color 0.2s ease-out;
    transition: all 0.2s ease-out; }
.singup-btn:hover{padding:12px 50px 12px 50px  !important; background:transparent; color:#95989a;}


.bannerbox{background:url('../images/banner.jpg'); min-height:600px; background-size:cover;}
.banner-1-content{margin-top:200px; padding-left:50px;}
.banner-1 p{color:#1cd0e7; font-size:19px;}
.rate{background:#175463; border:1px solid #3b92a7; width:90%; padding:0px 10px 10px 10px;}
.rat-inner{width:100%; display:inline-block; margin-top:10px;}
.rate input{width:78%;float:left; padding:12px 15px; border:1px solid #e3e3e3; font-size:26px;}
.rate select{width:21%; float:right; background-color:#d8e028 !important; color:#fff; text-transform:uppercase; font-size:26px;
 -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px 10px;
    background: url("../images/drop.png") no-repeat right 5px center;}
.banner-2-content{color:#fff; margin-top:140px; padding-left:30px;}
.banner-2-content h2{font-size:35px;}
.banner-2-content h3{font-size:28px; margin-bottom:15px;}
.v-link{background:rgba(255,255,255,0.3);margin-left:15px; text-align:center; padding:60px 0px; border:1px solid #95989a;}
.v-link a{color:#fff;}
.banner-2-content p{margin-top:10px;}

.step-title{text-align:center;}
.step-title > .main-title{font-size:24px; color:#95989a;}
.step-title > .sub-title{font-size:19px; font-family: OpenSans-Regular; color:#175463;}
.step-box{border:2px solid #95989a; text-align:center;}
.number{width:26%; margin-left:auto; margin-right:auto; margin-top:-50px; border:1px solid #95989a; background-color:#fff;
border-radius:50%;}
.number h1{font-size:60px; margin:0px; padding:12px; color:#95989a}
.step-box p{margin-top:30px; margin-bottom:30px; font-size:24px; color:#95989a}

.app-section{background:#175463;}
.app-mobile{margin-bottom:-110px;}
.app-content{margin-top:270px; padding-left:20px;}
.app-content h1{font-size:36px; font-family: OpenSans-Regular; color:#fff; line-height:45px;}
.app-content p{color:#fff; font-family: OpenSans-Bold; margin-top:50px; }
.app-link{margin-top:10px; margin-bottom:10px; }

.people{margin-top:150px;}
.people-title{text-align:center;}
.people-title > .main-title{font-size:24px; color:#95989a;}
.people-title > .sub-title{font-size:19px; font-family: OpenSans-Regular; color:#175463;}
.people-box{border:2px solid #95989a; padding:25px; margin-top:100px;}
.avtar{width:26%; margin-left:auto; margin-right:auto;  margin-top:-82px; border:1px solid #95989a; background-color:#fff;
border-radius:50%;}
.people-box p{color:#95989a; margin-top:20px; margin-top:50px;}

.footer{background:#f6f6f6; border:2px solid #95989a; border-width:2px 0px 2px 0px;}
.footer-links{padding-left:0px; list-style:none;}
.footer-links li{margin-bottom:15px;}
.footer-links li a{color:#7f8c8d; font-size:16px;}

.social-title{margin-top:20px; font-size:21px; color:#7f8c8d;}
.social{list-style:none; padding-left:0px;}
.social li{float:left; margin-right:15px;}
.tw{color:#a2ba28;}
.tw:hover{color:#a2ba28;}
.fb{color:#1a457a;}
.fb:hover{color:#1a457a;}

.copy-txt{color:#7f8c8d; font-size:14px;}
.copy-links{list-style:none; padding-left:0px; float:right;}
.copy-links li{float:left; margin-right:15px; color:#7f8c8d;}
.copy-links li a{color:#7f8c8d; font-size:14px;}
.copy-txt2{color:#7f8c8d; font-size:14px; text-align:center;}

/*********************************** start payment transfar ***********************************/

.banner_transfar{background-color:#175463; min-height:200px;}
.customer-name{color:#fff; margin-top:42px; font-size:20px; text-align:right; margin-right:67px; margin-bottom:0px;}
.customer-id{color:#fff; margin-top:2px; font-size:14px; text-align:right;}
.customer-thumb{margin-top:30px;}
.top-btns{float:right; list-style:none; margin-top:40px;}
.top-btns li{float:left; margin-right:10px;}
.top-btns li:last-child{margin-right:0px;}
.top-btns li a{ font-size:16px;}
.top-btns li a:hover{background:#c6de03 !important; color:#fff !important;}
.top-btns li.active a{background:#c6de03 !important;}

.first-box{border: 2px solid #8f9294; padding:25px; }
.first-box p{font-size:19px;color:#8f9294; }
.first-box a{font-size:20px;}
.first-btn{margin-top:30px;}

.second-main{margin-top:70px;}
.second-box{border: 2px solid #8f9294; padding:25px;  }
.second-box p{font-size:19px;color:#8f9294; }
.second-box a{font-size:20px;}
.second-btn{}

.third-box{border: 2px solid #8f9294; padding:25px;}
.third-box p{font-size:19px;color:#8f9294;}
.search-box input{border: 1px solid #8f9294;width:100%; font-size:25px;
background:#fff url('../images/search.png'); background-position:100%; background-repeat:no-repeat; 
 padding:6px;color:#8f9294;}
 
.t-box{border:2px solid #ada8a9; background:#f6f4f7;}
.date{color:#ada8a9; font-size:12px; margin-top:42px; margin-bottom:3px;}
.t-box p{color:#ada8a9; font-size:20px; text-align:right;margin:15px; }
.t-box img{margin-left:20px; margin-top:3px;}

.sidebar-inner{margin:23px auto; display:inline-block;}

.side-bar-box{border:1px solid #ada8a9;}
.sidebar-heading{background:#175463;}
.sidebar-heading h2{color:#fff; text-transform:uppercase; margin:0px; padding:20px; font-size:20px;}

.rate-sidebar{background:#175463; border:1px solid #3b92a7; width:95%; padding:0px 10px 10px 10px; margin:0 auto;}
.rat-inner-sidebar{width:100%; display:inline-block; margin-top:10px;}
.rate-sidebar input{width:75%;float:left; padding:12px 15px; border:1px solid #e3e3e3; font-size:26px;}
.rate-sidebar select{width:24%; float:right; background-color:#d8e028 !important; color:#fff; text-transform:uppercase; font-size:26px;
 -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px 10px;
    background: url("../images/drop.png") no-repeat right 5px center;}
	
.blank-div{min-height:335px;}

/*********************************** end payment transfar ***********************************/

/*********************************** start payment transfar - 1 ***********************************/

.numbers-section {border:1px solid #000; border-width:1px 1px 0px 1px; border-top-left-radius:20px;border-top-right-radius:20px; padding-top:50px; padding-bottom:150px; padding-left:35px;}
.drop-main{width:100%;}
.dropdown{padding:15px; border:1px solid #111;
    background: url("../images/arrow-down.png") no-repeat right 5px center; width:100%; }
.flag{ width:40px; float:left; }
.drop-list{width: 92%; margin:0 auto !important; left:auto !important;}
.drop-list li a{padding:10px 18px; }


.number-link{list-style:none; float:right; margin-bottom:-400px; margin-right:-30px;}
.number-link li{margin-bottom:30px; width:60px; height:60px;border-radius:50%; border:1px solid #7f8c8d; text-align:center; background:#fff;}
.number-link li a{font-size:25px; line-height:60px; color:#7f8c8d;}
.number-link li:hover{background:#d8e028; color:#fff;}
.number-link li:hover a{ color:#fff;}
.number-link li.active{background:#d8e028; color:#fff;}
.number-link li.active a{ color:#fff;}

/*********************************** end payment transfar - 1 ***********************************/

/*********************************** start payment transfar - 2 ***********************************/


.summary{margin: 20px auto; width:100%; }
.item{color:#95989a; text-align:right;font-size:20px; padding-right:8%; width:50%;}
.item2{color:#95989a; text-align:left;font-size:20px; padding-left:8%;  width:50%;}
.total{color:#000 !important; text-align:right;font-size:20px;padding-top:40px;padding-bottom:40px;padding-right:8%; width:50%;}
.total2{color:#000 !important;font-size:20px;padding-top:40px; padding-bottom:40px; padding-left:8%; width:50%;}
.title-sumary p{color:#000 !important; text-align:center;font-size:20px; margin-bottom:40px;}
.info-title{margin-bottom:50px;}
.info-title img{width:50px;}
.info-title p{margin-top:15px;}

.promo{margin-top:20px;}
.promo a{padding:15px; width:100%; display:inline-block;color:#95989a; background-color:#d8e028;
border:1px solid #95989a;font-size:22px; text-align:center;
webkit-transition: background 0.2s ease-out, color 0.2s ease-out, border-color 0.2s ease-out;
    transition: all 0.2s ease-out;}
	
.continue{margin-top:50px;}
.continue a{padding:15px; width:100%; display:inline-block;color:#95989a; background-color:#d8e028;
border:1px solid #95989a;font-size:26px; text-align:center;
webkit-transition: background 0.2s ease-out, color 0.2s ease-out, border-color 0.2s ease-out;
    transition: all 0.2s ease-out;}


/*********************************** end payment transfar - 2 ***********************************/

/*********************************** start report ***********************************/

.sender-name p{font-size:21px; color:#175463;}
.top-amount{border:1px solid #7f8c8d; background:#e4e3e5;}
.top-amount p{color:#7f8c8d; text-align:right;margin:15px; font-size:20px;}
.top-amount i{margin-right:50px;}
.amt{margin-right:50px;}

.sub-title p{color:#95989a; font-size:22px;}
.new-r{margin:0px 15% 15% 15%;border:1px solid #95989a; width:100px; height:100px; text-align:center;}
.new-r a{font-size:25px; line-height:100px; color:#95989a;}

.cyr{border:1px solid #95989a;}
.person p{text-align:center; margin:0px;}
.person{width:20%; float:left; padding:30px 15px;}
.avtar-icon{width:105px; height:105px; border-radius:50%; border:1px solid #95989a; background:#c6de03; margin:0 auto;}
.avtar-icon p{line-height:105px; margin:0px;font-size:22px; color:#fff; font-weight:bold;}
.name{font-size:19px; padding-top:10px; color:#95989a !important;}
.actual{color:#000 !important;}
.person i{font-size:25px; color:#257f34; margin-top:20px;}

.detail-table{width:100%; border-collapse: separate;  border-spacing: 0 10px;}
.lbl{width:60%; padding:10px;}
.lbl p{font-size:20px; margin:0px 20px 0px 0px; text-align:right; color:#175463;}
.lbl-2{width:40%;border:1px solid #7f8c8d; background:#e4e3e5; padding:10px;}
.lbl-2 p{font-size:20px; margin:0px; padding-left:20px;}
.lbl-box{width:40%;border:1px solid #7f8c8d;padding:20px; font-size:25px; text-align:center; background:#c6de03;}
.lbl-box a{color:#fff;}

.modal-content{border-radius:0px;}
.modal-title{text-align:center; font-size:20px;}
.form-title{font-size:18px; color:#175463; margin-top:10px; margin-bottom:10px;}
.form-control{border-radius:0px; padding:15px 20px; font-size:20px;}
.form-select{ -webkit-appearance: none;    -moz-appearance: none;    appearance: none;  
    background: url("../images/arrow-down.png") no-repeat right 5px center;}
.form-submit{width:100%; background:#c6de03; text-align:center; font-size:20px; padding:15px; color:#fff; font-weight:bold;}

/*********************************** end report ***********************************/

/*********************************** start screen -12 ***********************************/

.acs{width:90%; margin:0 auto;}
.change-pass{border:1px solid #95989a;padding-top:15px;padding-bottom:15px; }
.name-id{float:left;}
.chang-thumb{width:100px; height:100px; border:1px solid #95989a; float:left;}
.chang-pass-btn{float:right; margin-top:20px;}
.chang-pass-btn a{border:1px solid #111; display:inline-block; font-size:24px; padding:15px 25px 15px 25px !important;}
.chang-pass-btn a:hover{border:1px solid #111 !important; color:#111 !important;}
.change-pass-name{font-size:30px; margin:20px 0px 0px 20px; line-height:30px; color:#175463;}
.cid{font-size:20px;margin:5px 0px 0px 20px; line-height:22px; color:#175463;}

.change-items{border:1px solid #95989a; margin-top:30px;}
.change-name{color:#95989a; font-size:24px; margin:0px; padding:20px;}
.change-value{color:#175463; font-size:25px; margin:0px; padding:20px; text-transform:uppercase;}
.change-link{text-align:right;margin:0px;  padding:20px;}
.change-link a{color:#95989a; font-size:28px; display:inline-block;}

/*********************************** end screen -12 ***********************************/

/*********************************** start td ***********************************/

.td-title{color:#175463;}
.td-search input{border: 1px solid #8f9294;width:100%; font-size:18px;
background:#fff url('../images/search.png'); background-position:100%; background-repeat:no-repeat; 
 padding:10px;color:#8f9294;}
.avtar-icon-td{width:150px; height:150px; border-radius:50%; border:1px solid #95989a; background:#c6de03; margin:0 auto;}
.avtar-icon-td p{line-height:150px; margin:0px;font-size:28px; color:#fff; font-weight:bold;text-align:center;}
.detail-td p{font-size:26px; font-weight:bold;}
.name-td{color:#175463;}
.amt-td{color:#000;}
.tn-td{color:#cf1f2e;}
.status-td p{font-size:26px; color:#66bd0a; font-weight:bold; text-align:center; line-height:150px;}
.more-td p{font-size:26px; color:#95989a; font-weight:bold; text-align:center;}
.icon-td{margin-bottom:0px; margin-top:20px;}
.more-td a{color:#95989a !important;}
.more-td p i{font-size:50px; color:#95989a; font-weight:bold; text-align:center;}
.hr-td{margin-top:5px; margin-bottom:10px;}

/*********************************** end td ***********************************/

/*********************************** start bf ***********************************/

.detail-td p{font-size:26px; font-weight:bold;}
.name-bf{color:#175463; margin-bottom:3px;}
.sub-bf{color:#95989a; margin-bottom:3px;}
.send-bf p{text-align:right; line-height:150px;}
.send-bf a{font-size:28px;}
.icon-bf p{line-height:150px; color:#95989a; font-size:50px; text-align:center;}
.icon-bf a{color:#95989a;}

/*********************************** end bf ***********************************/

/*********************************** end sl ***********************************/

.modal-body-sl{position: relative;padding: 0px;}



.sl-tab{margin-top:40px; padding:15px;}
.nav-tabs{border:0px;}
.nav-tabs > li{width:50%;}
.nav-tabs > li > a{width:100%; font-size:22px; background:#175463; color:#95989a; padding:20px; text-align:center; border-radius:0px; border:0px;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{border:0px;
color:#fff; background:#c6de03 !important;}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus{background:#c6de03 !important;}

.sl-lg-title{font-size:26px; color:#175463; margin-bottom:30px;}
.sl-lg{text-align:right; margin-top:0px; margin-bottom:30px;}
.sl-lg a{font-size:20px; color:#95989a;}
.or{font-size:20px; color:#95989a; text-align:center; margin: 30px auto;}

.l-with a{text-align:center; color:#fff; font-size:28px; padding:20px 5px;}
.l-with i{text-align:left; margin-right:20px;}
.sl-fb{width:50%; float:left; background:#3b5998;}
.sl-gp{width:50%; float:left; background:#f2553b;}
.sl-msg{margin-top:20px; margin-bottom:20px;}
.sl-msg p{color:#95989a; font-size:20px; text-align:center; }
.sl-msg i{margin-right:10px; }
.sl-names-1{width:50%; padding-right:10px; float:left;}
.sl-names-2{width:50%; padding-left:10px; float:left;}
.nm-sl{border-radius: 0px;padding: 15px 5px;font-size: 20px; width:100%; border:1px solid #e2e2e2;}

/*********************************** end sl ***********************************/

/*********************************** start up ***********************************/

.up-title{text-align:center; font-size:18px; color:#ff0000; padding:20px;}
.up-row{width:100%}
.up-row  td{border:1px solid #95989a; padding:15px; color:#95989a; font-size:20px;}
.upm-btn{margin-top:50px; text-align:center; margin-bottom:20px;}
.up-cell-2{text-transform:uppercase; color:#555 !important;}
.up-btn{font-size:30px;}

/*********************************** end up ***********************************/

/*********************************** start successs ***********************************/

.s-msg{margin-top:50px;text-align:center;}
.s-msg h1{color:#175463; font-size:35px; padding:30px;}
.s-msg p{ color:#175463; border:1px solid #95989a; padding:15px; font-size:20px;}

/*********************************** end success ***********************************/

