/* Card Based Layout - Base styles */

body {
  /*background: hsl(0, 0%, 90%);*/
}

.masthead {
  background: hsl(0, 0%, 20%);`
}

.site-title {
  color: white;
}

.card {
  background: white;
  /* margin-bottom: 2em; */
}

.card a {
  color: black;
  text-decoration: none;
}

.card-content {
  padding: 1.4em;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: normal;
}

.card-content p {
  font-size: 95%;
}

/*Main Layout*/

.centered {
    margin: 0 auto;
    /* padding: 0 1em; */
}

@media screen and (min-width: 52em) {
    .centered {
        max-width: 640px;
    }
}




/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
html {
  font-family: 'Roboto', "Helvetica Neue", Helvetica;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust:     100%;
  color: #666666;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.thumbnailLogin img {
  display: block;
  border: 0;
  width: 100%;
  height: 614px;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  padding-left: 20px;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Main Css*/


/*.card.Promo_photo {
    display: none;
}*/

/*Tab Css*/



.card.Login_signup {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.card.forget_password {
   display: flex;
   flex-direction: column;
   width: 100%;
}

ul.tabs{
  margin: 0px;
  padding: 0;
  list-style: none;
  display: flex;
}


ul.tabs li {
  flex: 0 1 50%;
  text-align: center;
  /* padding: 16px; */
  text-transform: uppercase;
  background: #ededed;
}

ul.tabs li.current{
   background: #FFFFFF;
   color: #222;
}

ul.tabs li.tab-content.current{
   display: none;
 }

.tab-content.signupPanel.current {
  display: none;
}

ul.choosePlatform {
    padding: 0px;
    list-style: none;
    display: flex;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 14px;  
}

ul.choosePlatform li {
  flex: 0 1 50%;
  text-align: center;
  padding: 0;
  text-transform: capitalize;
}


ul.mainForm_wraper {
    padding: 10px 10px;
    list-style: none;
    display: flex;
    margin: 0;
    flex-direction: column;
}

.opt-button .facebookConnect li {
   margin: 0 auto;
}


li.facebook_btn_05 {
    background: #4a6eaa;
    text-align: center;
    padding: 15px 0;
    border-radius: 3px;
    margin: 8px;
    text-transform: uppercase;
    font-weight: 200;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin: 2px 16px;
    border: solid 1px #4a6eaa;
    cursor: pointer;
}

li.facebook_btn_05 a {
  color: #FFF;
}

li.facebook_btn_05.ggPlus {
  border: solid 1px #f00;
  background: #d34836;
}

.form-wrapper {
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin: 5px 16px;
}

.form-wrapper > div {
    flex: 1 1 auto;
}

.Reg_form input {
    width: 100%;
    padding: 14px 0;
    border: solid 1px #CCC;
    margin-top: 10px;
    border-radius: 3px;
    text-indent: 15px;
    font-weight: 200;
    font-size: 16px;  
}

.Reg_form a {
    background: none;
    color: #ca3b3b! important;
    font-size: 14px;
    font-weight: normal;
    float: right;
    position: relative;
    top: -31px;
    margin-right: 19px;
}

li.dontshrink.or span {
  position: relative;
    z-index: 1;
    background: #FFF;
    color: #CCC;
    padding: 0 15px;
}

li.dontshrink.or {
  border-bottom: solid 1px #DDD;
  font-size: 16px;
  min-height: 2px;
  height: 13px;
  margin: 0 10% 15px;
  text-align: center;
}

li.button-wrap {
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    flex-direction: column;
   /* margin: 16px;*/
}

 input.GreenBtn {
    width: 100%;
    background: #c6de03;
    padding: 18px 0;
    border: none;
    margin-top: 38px;
    color: #175463;
    border-radius: 2px;
    text-transform: uppercase;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 1 50%;
}

@media screen and (max-width: 680px) {

  .card {
    flex: 0 1 100%;
  }

  .card.Promo_photo {
    display: none;
  }

}

li.platformList_01 {
    position: relative;
    line-height: 0;
    top: 2px;
}

.platformList_01 img {
    width: 16px;
    padding: 0;
    float: left;
    margin-left: 18px;
}

.platformList_01 span {
   position: absolute;
   top: 8px;
   left: 0;
   right: 10px;
}

li.platformList_02 {
    position: relative;
    line-height: 0;
    top: 2px;
}

.platformList_02 img {
    width: 16px;
    padding: 0;
    margin: 0;
    float: left;
    margin-left: 7px;
}

.platformList_02 span {
    position: absolute;
    top: 8px;
    right: 2px;
    left: 0;
}


.checked .custom-check::before  {
  display: inline-block;
    content: "\f00c";
    width: 17px;
    height: 18px;
    background: #5e5f5f;
    font-size: 17px;
    line-height: 1;
    position: relative;
    top: 0px;
    color: #FFFFFF;
}

.custom-check {
    display: inline-block;
    width: 17px;
    height: 18px;
    background: white;
    border: 1px solid #656565;
    font-family: 'Glyphicons Halflings';
    font-size: 22px;
    line-height: 1;
    position: relative;
    top: 6px;
}

span.fa.custom-check {
    float: left;
    margin-left: 18px;
    top: -2px;
}

.mainForm_wraper label {
    padding-left: 7px;
    font-size: 14px;
    position: relative;
    top: -2px;
}

.mainForm_wraper .forgotPwd p {
    text-align: center;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 200;
}

.mainForm_wraper .forgotPwd {
    text-align: center;
    margin-top: 24px;
}

li.forgotPwd_des {
  text-align: center;
  font-size: 12px;
  width: 80%;
    margin: 0 auto;
}

.forget_pwd_message p {
  text-align: center;
  font-size: 12px;
}

li.forgotPwd_messgae {
  margin-top: 58px;
    text-align: center;
    font-size: 12px;
} 

.mainForm_wraper .emailNotice {
  width: 60%;
    margin: 0 auto;
}


/*Singup Css*/

.signupPanel p {
  text-align: center;
}

li.locationText {
  text-align: center;
  margin-bottom: 15px;
}

.card .locationText a {
   color: #666666;
   text-decoration: underline;
   margin-bottom: 40px;
   font-size: 12px;
} 

.card .signupPanel span {
   text-align: center;
   font-size: 12px;
   margin-bottom: 16px;
}

li.join_btn_05 {
  background: #8f8f8f;
  text-align: center;
  padding: 15px 0;
  border-radius: 3px;
  text-transform: uppercase;
  justify-content: space-between;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin: 16px;
    cursor: pointer;

}

.join_btn_05 a {
  color: #FFFFFF;
}

.signupPanel li.footer {
    top: 47vh;
    font-size: 12px;
    position: fixed;
    width: 24em;
    margin: 0 auto;
    text-align: center;
    padding: 0 7px;
}

.userCurrent_Loction p {
  font-size: 12px;
  margin-bottom: -20px;
  margin-top: 48px;
  text-align: inherit;

}

li.userCurrent_Loction {
    margin: 16px;
    position: relative;
    top: 13px;
}

.userCurrent_Loction a {
    float: right;
    padding-right: 16px;
    color: #666666;
    font-size: 12px;
    text-decoration: underline;
    position: relative;
    top: 3px;

}

.userCurrent_Loction strong {
    font-size: 12px;
    padding-left: 17px;

}

input.location_Btn {
    width: 100%;
    /*margin-top: -10px;*/
    margin-bottom: 59px;
    border-radius: 2px;
    text-transform: uppercase;
}

.no_location a {
    font-size: 12px;
    color: #666666;
    text-decoration: underline;
}

.is-disable  {
    opacity: .5;
    pointer-events: none;
}


.join_btn_05.GreenBtn {
    background: #7ccb45;
    text-align: center;
    padding: 15px 0;
    border-radius: 3px;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin: 16px;
    cursor: pointer;
}

/*Signup Processing*/ 

.card.signup_process {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 568px;
}

.signup_process h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-top: 43px;
}

 ul.row.multichoose {
    margin: 0 auto;
    list-style: none;
    padding: 0;
    width: 90%;
    justify-content: center;
}

 ul.row.multichoose li  {
    border: solid 3px #f0f0f0;
    padding: 0;
    margin: 4px;
    border-radius: 10%;
    height: 76px;
    text-align: center;
    width: 77px;
}


ul.row.multichoose img {
    width: 50px;
    height: 50px;
}


ul.row.multichoose .des_type {
  font-size: 11px;
   display: block;
   margin-top: -8px;
} 

.topList-Des {
    font-size: 11px;
    display: block;
    position: relative;
    top: 8px;
}

/*Signup Tab*/

.RegisterStep ul.tabs-menu {
    display: flex;
    margin: 16px 11px;
    line-height: 11px;
    padding: 0;
}

.RegisterStep ul.tabs-menu li {
    padding: 11px;
    text-transform: none;
    background: #ededed;
    border-right: solid 4px #FFF;
    flex: 0 1 50%;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
}

.RegisterStep ul.tabs-menu li{
   color: #000;
   font-size: 10px;
}

.RegisterStep ul.tabs-menu li.active {
      background: #7ccb45;
      color: #FFFFFF;
      padding-right: 0px;
      padding-left: 19px;
  }


 .RegisterStep .tab-content{
      display: none;
    }

  .tab-content.active{
     display: block;
  }



.RegisterStep .gotoBtn {
    margin: 0 auto;
    position: relative;
    top: 87px;
}

.gotoBtn span {
    background: #FFFFFF;
    border-radius: 100%;
    padding: 18px 12px;
    color: #cccccc;
    border: solid 2px #cccccc;
    font-weight: 200;
}

.multichoose li.selected {
  background-color: #575858;
  border: solid 3px #575858! important;
}

ul.row.multichoose .selected .des_type {
    font-size: 11px;
    display: block;
    color: #FFFFFF;
}


 .goToNext span {
     background: #7ccb45;
     color: #FFFFFF;
     border: solid 2px #7ccb45;

}


.signup_process .tabheader {
  margin: 0 auto 
} 


.signup_process .tabheader p {
   margin-bottom: 64px;
   text-align: center;
} 

.row.addBirthday {
    margin-left: 12px;
    margin-right: 16px;
    margin-bottom: 94px;
 }

.addBirthday select[type="select"] {
    width: 100%;
    padding: 0;
    height: 35px;
    -webkit-appearance: none;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    border-radius: inherit;
    padding-left: 9px;
}

.DaySelector, .MonthSelector, .YearSelector {
   padding: 0 3px;
}

 .row.addBirthday p {
    text-align: center;
    margin: 5px;
    font-size: 14px;
    font-weight: 200;
}

.fa-chevron-down:before {
    content: "\f078";
    position: relative;
    right: -69px;
    top: -28px;
    font-size: 12px;
}







}*/

.Skip_go {
  display: none;
}



.form_area textarea {
    width: 294px! important;
    border: none;
}

.form_title h2 {
    background: #e6e6e6;
    padding: 5px;
    text-align: left;
    padding-left: 11px;
    font-size: 12px;
    font-weight: 400;
}

input:focus, textarea:focus, keygen:focus, select:focus {
    outline-offset: 0;
    outline: none;
}

Div.form_area {
    margin-top: -47px;
}

.form_title.aboutMe {
    margin-top: -47px;
    height: 254px;
}

.form_title.idealPartner {
    height: 324px;
}

.Introduce_yourself p {
    text-align: center;
    font-size: 12px;
}

.idealPartner textarea{  
  overflow:hidden;
  font-size:14px;
  display:block;
  height: 200px;
}




.Reg_form.hasError input {
  border: solid 1px #ca3b3b;
}

.Reg_form.hasError p {
   font-size: 12px;
    color: #FFF;
    background: #ca3b3b;
    padding: 5px;
    display: inherit;
    width: 80%;
    height: 22px;
    text-align: center;
    border-radius: 5px;
    line-height: 20px;
    position: absolute;
    margin-top: -89px;
    left: 28px;
    z-index: 100;

}

.Reg_form.hasError p:after {
    top: 100%;
    left: 16px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #CA3B3B;
    border-width: 8px;
    margin-left: 107px;
}


ul.nav.nav-tabs {
    display: flex;
    width: 100%;
    margin-bottom: 46px;
}


.facebook_btn_05.ggPlus a {
  color: #FFF;
}

.Loginform p {
    margin: 0 auto;
}

ul.mainForm_wraper p {
    text-align: center;
}

.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
    font-size: 31px;
    color: #FFF;
    position: relative;
    left: 16px;
    top: -6px;
}

span.fa.fa-facebook {
    position: absolute;
}

span.fa.fa-google-plus {
    position: absolute;
}
.fa-google-plus:before {
    content: "\f0d5";
    font-size: 31px;
    color: #FFF;
    position: relative;
    left: 16px;
    top: -6px;
}

.fa-lock:before {
    content: "\f023";
    font-size: 30px;
    position: relative;
    top: 2px;
}




















