<form name="loginForm" novalidate>
    <ul class="mainForm_wraper opt-button"> 
        <p>Login to Cash Remit</p>  
        <li class="form-wrapper">
            <div class="Reg_form" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
                <input type="email" name="email" class="" id="text1" placeholder="Email Address" ng-model="loginInfo.email">
                <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Enter a valid email.</p>
                <!--    <p>Please input your username</p> -->
            </div>    
            <div class="Reg_form" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                <input type="password" name="password" class="" ng-model="loginInfo.password" required id="text2" placeholder="Password">
                <!--   <p>Please enter your valid password</p> -->
            </div>
        </li>
        <li class="or dontshrink">
            <span>you can use</span>
        </li>
        <li class="facebook_btn_05">
            <span class="fa fa-facebook" aria-hidden="true"></span>
            <a href="javascript:void(0);" style="font-size:14px; padding:0px 0px;" ng-click="fblogin()" class="facebookConnect button">Connect With Facebook </a>  
        </li>
        <li class="facebook_btn_05 ggPlus">
            <span class="fa fa-google-plus" aria-hidden="true"></span>
        <google-plus-signin clientid="230545741792-rocc0nj7fdv31vihh9ft7sscn6igbse6.apps.googleusercontent.com" autorender="false" customtargetid="my-custom-element">
            <a href="javascript:void(0);" id="my-custom-element" >Google plus</a>  
        </li>
            <!-- <p class="sl-lg"><a href="">Forgot Password?</a></p> -->
        <li class="form-wrapper button-wrap">
            <input type="submit" ng-disabled="loginForm.$invalid" ng-click="loginUser()" class="GreenBtn" value="LOG IN">
        </li>
            <div class="sl-msg">
                <p><i class="fa fa-lock" aria-hidden="true"></i> 100% SECURE & AUTH AUTHORISED</p>
            </div>
    </ul>
</form>

