<my-header></my-header> 


<div class="container mt3 mb5 docVerify" >
     <div class="row">
        <div class="col-md-12">
          <h2>CashRemit Document verification</h2>
        </div>
        <div class="col-md-8 startVerification">
            <h4>Choose document Type</h4>
            <div class="dropdown">
              <button class="btn cashRemit-btn1 dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{docName}}
                 <span class="arrowDown"><img src="images/arrow-down.png"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li ng-repeat="fields in docfields"><a href="javascript:void(0);" ng-click="setDoc(fields.name);">{{fields.name}}</a></li>
                
              </ul>
            </div>
         </div>
         <div class="col-md-4">
           <h4>Document Sample</h4>
             <div class="spacemen">
              <span><img src="images/WA.jpg"></span>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert" ng-if="UnverifyMsg">Your details can not  be verify please provide correct details.</div>   
        <form class="form-horizontal" id="formdocVerify" role="form">
<!--          <fieldset ng-repeat="fields in docfields" ng-if="docName==fields.name">
            <legend style=" border-bottom: 1px solid #CCC;">Please enter you verification details</legend>
            <div class="form-group" ng-repeat="formfield in fields.attributes track by $index">
                <label class="col-sm-3 control-label" for="card-holder-name">{{formfield.name}}</label>
                  <div class="col-sm-9 MainForm" ng-if="formfield.validation!='file'">
                      <input type="text" ng-model="Answers[formfield.name]" class="form-control">
                </div>
            </div>
         </fieldset>-->
        <fieldset>
            <legend style=" border-bottom: 1px solid #CCC;">Please enter you verification details</legend>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="card-holder-name">First Name</label>
                  <div class="col-sm-9 MainForm">
                      <input type="text" class="form-control" name="card-holder-name" ng-model="doc.FirstGivenName" required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="card-holder-name">Last Name</label>
                  <div class="col-sm-9 MainForm">
                      <input type="text" class="form-control" name="card-holder-name" ng-model="doc.FirstSurName" required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="card-holder-name">Birth Date</label>
                  <div class="col-sm-9 MainForm">
                      <div class="col-md-4">
                          <input type="text" class="form-control" name="card-holder-name" placeholder="DD" ng-model="doc.DayOfBirth" required="required">
                      </div>
                      <div class="col-md-4">
                          <input type="text" class="form-control" name="card-holder-name" ng-model="doc.MonthOfBirth" placeholder="MM" required="required">
                      </div>
                      <div class="col-md-4">
                          <input type="text" class="form-control" name="card-holder-name" ng-model="doc.YearOfBirth" placeholder="YYYY" required="required">
                      </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="card-holder-name">Licence Number</label>
                  <div class="col-sm-9 MainForm">
                      <input type="text" class="form-control" name="card-holder-name" ng-model="doc.DriverLicence.Number" required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="card-holder-name">Licence State</label>
                  <div class="col-sm-9 MainForm">
                      <input type="text" class="form-control" name="card-holder-name" ng-model="doc.DriverLicence.State" required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="card-holder-name">Exp. Date</label>
                  <div class="col-sm-9 MainForm">
                      <div class="col-md-4">
                          <input type="text" class="form-control" name="card-holder-name" placeholder="DD" ng-model="doc.DriverLicence.DayOfExpiry" required="required">
                      </div>
                      <div class="col-md-4">
                          <input type="text" class="form-control" name="card-holder-name" ng-model="doc.DriverLicence.MonthOfExpiry" placeholder="MM" required="required">
                      </div>
                      <div class="col-md-4">
                          <input type="text" class="form-control" name="card-holder-name" ng-model="doc.DriverLicence.YearOfExpirys" placeholder="YYYY" required="required">
                      </div>
                </div>
            </div>
            
            
        </fieldset>
        <fieldset>
            <hr />
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" ng-click="submitdocform(doc)" class=" sybmitdocform btn normal2-btn2 yellow-fil">Submit </button>
                </div>
            </div>
        </fieldset>
      </form>

        </div>
    </div>
</div>
  

