

<div class="container mt3 mb5 docVerify" >
     <div class="row">
        <div class="col-md-12">
          <h2>CashRemit Document verification</h2>
        </div>
        <div class="col-md-8 startVerification">
            <h4>Choose document Type</h4>
            <div class="dropdown">
              <button class="btn cashRemit-btn1 dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{docName}}
                 <span class="arrowDown"><img src="images/arrow-down.png"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li ng-repeat="fields in docfields"><a href="javascript:void(0);" ng-click="setDoc(fields.name);">{{fields.name}}</a></li>
                
              </ul>
            </div>
         </div>
         <div class="col-md-4">
           <h4>Document Sample</h4>
             <div class="spacemen">
              <span><img src="images/WA.jpg"></span>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        <form class="form-horizontal" role="form">
          <fieldset ng-repeat="fields in docfields" ng-if="docName==fields.name">
            <legend style=" border-bottom: 1px solid #CCC;">Please enter you verification details</legend>
            <div class="form-group" ng-repeat="formfield in fields.attributes track by $index">
                <label class="col-sm-3 control-label" for="card-holder-name">{{formfield.name}}</label>
                  <div class="col-sm-9 MainForm" ng-if="formfield.validation!='file'">
                      <input type="text" class="form-control" name="card-holder-name" required="required">
                </div>
                <div class="col-sm-9 MainForm" ng-if="formfield.validation=='file'">
                      <input type="file" class="form-control" name="card-holder-name" required="required">
                </div>
            </div>
            
            
        </fieldset>
        <fieldset>
            <hr />
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="button" class="normal2-btn2 yellow-fil">Submit </button>
                </div>
            </div>
        </fieldset>
      </form>

        </div>
    </div>
</div>


