<my-header></my-header>
<div class="container mt5 mb5">

    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="numbers-section">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="number-link">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-5 visible-sm-* visible-lg-* visible-md-* hidden-xs">
                        <div class="side-bar-box">
                            <div class="sidebar-heading">
                                <h2>Transfer calculator</h2>
                            </div>
                            <div class="sidebar-inner">
                                <div class="rate-sidebar">
                                    <div class="rat-inner-sidebar">
                                        <label for="">You want to send..</label>
                                        <input type="text" ng-model="fromAmount" ng-change="convertCurFromto(fromAmount)" placeholder="1000">
                                        <select ng-model="fromCur" ng-change="convertCurFromto(fromAmount)">
                                            <option value="AUD">aud</option>
                                            <option value="USD">usd</option>
                                            <option value="INR">inr</option>
                                            <option value="NGN">ngn</option>
                                        </select>
                                    </div>
                                    <div class="rat-inner">
                                        <label for="">Recipiant will get...</label>
                                        <input type="text" ng-model="toAmount" ng-change="convertCurtoFrom(toAmount)" placeholder="234,000">
                                        <select ng-model="toCur" ng-change="convertCurFromto(fromAmount)">
                                            <option value="AUD">aud</option>
                                            <option value="USD">usd</option>
                                            <option value="INR">inr</option>
                                            <option value="NGN">ngn</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-offset-1 col-sm-offset-1 col-md-5 col-sm-5">

                        <div class="side-bar-box">
                            <div class="sidebar-heading">
                                <h2>Payment Summary</h2>
                            </div>
                            <table class="summary">
                                <tr>
                                    <td colspan="2" class="title-sumary"><p>Exchange rate {{fromCur}} 1 = {{toCur}} {{DefaulttoAmount}}</p></td>
                                <tr>
                                <tr>
                                    <td class="item">Send Amount</td>
                                    <td class="item2">{{fromCur}} {{fromAmount}}</td>
                                </tr>
                                <tr>
                                    <td class="item">Transfer Charges</td>
                                    <td class="item2">{{fromCur}} {{transfer_rate}}</td>
                                </tr>
                                <tr ng-if="discount">
                                    <td class="item">Discount</td>
                                    <td class="item2">{{discount}}</td>
                                </tr>
                                <tr>
                                    <td class="total">Total Amount</td>
                                    <td class="total2">{{toCur}} {{toAmount}}</td>
                                </tr>
                            </table>
                        </div>

                        <div class="promo">
                            <a href="javascript:void(0);" ng-hide="showPromoText" ng-click="showPromoText=true">Active Promo Code</a>
                        </div>
                        <div class="promotext" ng-if="showPromoText">
                            <div class="form-group has-success has-feedback">
                            <div class="input-group">
                                <input type="text" ng-model="promocode" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
                                <span class="input-group-addon"><a href="javascript:void(0);" ng-click="addPromocode(promocode)">Apply</a></span>
                            </div>
                          </div>
                            <p class="has-error error er" ng-if="invalidPromocode">Invalid Promocode. Please try again with new code.</p>  
                        </div>

                        <div class="continue">
                            <a data-backdrop="static" data-toggle="modal" data-target="#myModal" ng-if="isLogin == false">Continue</a>
                            <a href="#/paybeneficiary" ng-if="isLogin == true">Continue</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>	
    </div>
</div>
<my-footer></my-footer>	

