<div class="banner_transfar" ng-controller="commonController" ng-if="isLogin==true">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-8 col-md-3 col-sm-offset-7  col-sm-3 ">
				<p class="customer-name">{{globalName}} {{globalLastName}}</p>
				<!--<p class="customer-id">Customer Id : CR{{globaluserId}}</p>-->
			</div>
			<div class="col-md-1 col-sm-2 pl0">
				<img src="images/p-3.jpg" class="img-responsive img-circle customer-thumb">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="top-btns">
					<li><a href="#/transfarDetail" class="normal-btn white">Transfer Details</a></li>
					<li><a href="#/beneficiaries" class="normal-btn white">Beneficiaries</a></li>
					<li><a href="#/accountSetting" class="normal-btn white">Accounts & Settings</a></li>
					<li ng-if="isLogin==true"><a class="normal-btn white" ng-click='doLogout()'>Logout</a></li>
                                        
				</ul>
			</div>
		</div>
	</div>
</div>
<nav class="navbar navbar-default " ng-controller="commonController" ng-if="isLogin==false">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#"><img src="images/logo.png" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav navbar-right ">
            <li><a href="javascript:void(0);">Need help</a></li>
            <li><a href="javascript:void(0);">Business</a></li>
            <li><a data-backdrop="static" data-toggle="modal" data-target="#myModal">Login</a></li>
            <li class=""><a class="singup-btn" data-backdrop="static" data-toggle="modal" data-target="#myModal">Singup</a></li>
          </ul>
        </div>
      </div>
    </nav>