<div class="modal fade update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="update-inner">
                            <p class="up-title">Updating your Address will required verification</p>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <table class="up-row">
                                        <tr>
                                            <td class="up-cell-1">Flat/Unit No:</td>
                                            <td class="up-cell-2"><input type="text" ng-model="userInfo.unit_no"/></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="upm-btn">
                                <a href="" class="normal-btn yellow-fill up-btn" ng-click="updateValue('unit_no', userInfo.unit_no)">Continue</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
