 
<my-header></my-header> 

<div class="container mt3 mb5">

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="acs">
                <div class="row change-pass">	
                    <div class="col-md-6 col-sm-6">
                        <img src="images/p-3.jpg" class="img-circle chang-thumb">
                        <div class="name-id">
                            <p class="change-pass-name">{{userInfo.first_name}} {{userInfo.last_name}}</p>
                            <p class="cid">Customer ID : CR{{userInfo.id}}</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 ">
                        <div class="chang-pass-btn"><a href="" class="normal-btn yellow-fill">Change Password</a></div>
                    </div>
                </div>
                <div class="row change-items">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <p class="change-name">Flat/Unit No:</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-10 pr0">
                        <p class="change-value" ng-hide="isupdate" ng-bind="userInfo.unit_no"> </p> 
                        <input type="text" class="change-value"  ng-model="userInfo.unit_no" ng-show="isupdate" />
                    </div>

                </div>

                <div class="row change-items">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <p class="change-name">Bulilding No./Name</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-10 pr0">
                        <p class="change-value" ng-hide="isupdate" ng-bind="userInfo.building_name"> </p> 
                        <input type="text" class="change-value"  ng-model="userInfo.building_name" ng-show="isupdate" /> 
                    </div>

                </div>

                <div class="row change-items">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <p class="change-name">City or Suburb:</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-10 pr0">
                        <p class="change-value" ng-hide="isupdate" ng-bind="userInfo.city"> </p> 
                        <input type="text" class="change-value"  ng-model="userInfo.city" ng-show="isupdate" /> 
                    </div>

                </div>

                <div class="row change-items">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <p class="change-name">Region:</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-10 pr0">
                        <p class="change-value" ng-hide="isupdate" ng-bind="userInfo.region"> </p> 
                        <input type="text" class="change-value"  ng-model="userInfo.region" ng-show="isupdate" /> 
                    </div>
                </div>

                <div class="row change-items">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <p class="change-name">Street:</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-10 pr0">
                        <p class="change-value" ng-hide="isupdate" ng-bind="userInfo.street"> </p> 
                        <input type="text" class="change-value" ng-model="userInfo.street" ng-show="isupdate" /> 
                    </div>
                </div>

                <div class="row change-items">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <p class="change-name">Postcode:</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-10 pr0">
                        <p class="change-value" ng-hide="isupdate" ng-bind="userInfo.post_code"> </p> 
                        <input type="text" class="change-value" maxlength="6" ng-model="userInfo.post_code" ng-show="isupdate" /> 
                    </div>
                </div>

                <div class="row change-items">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <p class="change-name">COUNTRY:</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-10 pr0">
                        <p class="change-value" ng-hide="isupdate" ng-bind="userInfo.country"> </p> 
                        <input type="text" class="change-value"  ng-model="userInfo.country" ng-show="isupdate" /> 
                    </div>

                </div>

                <div class="row change-items">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <p class="change-name">Date of Birth:</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-10 pr0">
                        <p class="change-value" ng-hide="isupdate" ng-bind="userInfo.dob"> </p> 
                        <input type="date" pattern="\d{1,2}/\d{1,2}/\d{4}" class="change-value datepicker"  ng-model="userInfo.dob" ng-show="isupdate" /> 
                    </div>

                </div>

                <div class="row change-items">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <p class="change-name">Mobile Phone:</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-10 pr0">
                        <p class="change-value" ng-hide="isupdate" ng-bind="userInfo.mobile_no"> </p> 
                        <input type="number" maxlength="10" class="change-value" ng-model="userInfo.mobile_no" ng-show="isupdate" /> 
                    </div>
                </div>

                <div class="row change-items">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <p class="change-name">Phone Number:</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-10 pr0">
                        <p class="change-value" ng-hide="isupdate" ng-bind="userInfo.landline_no"> </p> 
                        <input type="text" maxlength="10" class="change-value" ng-model="userInfo.landline_no" ng-show="isupdate" /> 
                    </div>

                </div>
                <div class="upm-btn">
                    <a href="" ng-click="EditClick()" class="normal-btn yellow-fill up-btn" ng-hide="isupdate">Edit Info</a> 
                </div>
                <div class="upm-btn">
                    <a href="" ng-show="isupdate" class="normal-btn yellow-fill up-btn" ng-click="updateValue(userInfo)">Update Info</a>
                </div>
            </div>

        </div>	
    </div>

</div>
<my-footer></my-footer> 
