 
<my-header></my-header> 

<div class="container mt3 mb5 AcoountDetails">
    <div class="row">
        <div class="col-md-12 col-sm-12">
          <h4> Getting Started with CashRemit
              Please Update your Personal information to proceed</h4>
                <div class="row change-pass">   
                    <div class="col-md-6 col-sm-6 accountSet">
                        <img src="images/p-3.jpg" class="img-circle chang-thumb">
                        <div class="name-id">
                            <p class="change-pass-name">{{userInfo.first_name}} {{userInfo.last_name}}</p>
                            <p class="cid">Customer ID : CR_{{ userInfo.first_name | limitTo:1 }}{{ userInfo.last_name | limitTo:1 }}_{{"000000" + userInfo.last_name.id.slice(-6)}}</p>
                        </div>
                    </div>
                
                    <div class="col-md-6 col-sm-6 ">
                        <div class="chang-pass-btn"><a href="" class="normal-btn yellow-fill" data-toggle="modal" data-target=".update">Change Password</a></div>
                    </div>
                </div>
             </div>

              <form class="form-inline">
                  <div class="form-group">
                    <p class="change-name">Fisrt Name:</p>
                    <p class="change-value" ng-hide="isupdate" ng-bind="userInfo.first_name"> </p>
                    <input type="text" class="change-value"  ng-model="userInfo.first_name" ng-show="isupdate" />
                 </div>
                    <div class="form-group">
                       <p class="change-name">Last Name:</p>
                       <p class="change-value" ng-hide="isupdate" ng-bind="userInfo.last_name"> </p> 
                      <input type="text" class="change-value"  ng-model="userInfo.last_name" ng-show="isupdate" />
                    </div> 

                 <div class="form-group">
                       <p class="change-name">Email:</p>
                        <p class="change-value" ng-hide="isupdate" ng-bind="userInfo.email"> </p>
                        <input type="text" class="change-value"  ng-model="userInfo.email" ng-show="isupdate" />
                  </div>
                    <div class="form-group">
                        <p class="change-name">Phone N0:</p>
                        <p class="change-value" ng-hide="isupdate" ng-bind="userInfo.mobile_no"> </p> 
                        <input type="text"  class="change-value" ng-model="userInfo.mobile_no" ng-show="isupdate" /> 
                    </div> 

                  <div class="form-group">
                   <p class="change-name">Lookup address:</p>
                     <input type="text" class="change-value" id="addresssearchbox" />
                 </div>
                    <div class="form-group">
                     <p class="change-name">Street No:</p>
                        <p class="change-value" ng-hide="isupdate" ng-bind="userInfo.unit_no"> </p> 
                        <input type="text" class="change-value"  ng-model="userInfo.unit_no" ng-show="isupdate" />
                    </div> 

                  <div class="form-group">
                      <p class="change-name">Street Name</p>
                      <p class="change-value" ng-hide="isupdate" ng-bind="userInfo.building_name"> </p> 
                       <input type="text" class="change-value"  ng-model="userInfo.building_name" ng-show="isupdate" /> 
                 </div>
                    <div class="form-group">
                        <p class="change-name">City:</p>
                         <p class="change-value" ng-hide="isupdate" ng-bind="userInfo.city"> </p> 
                        <input type="text" class="change-value"  ng-model="userInfo.city" ng-show="isupdate" /> 
                    </div> 
                      <div class="form-group">
                       <p class="change-name">Postcode:</p>
                        <p class="change-value" ng-hide="isupdate" ng-bind="userInfo.post_code"> </p> 
                        <input type="text" class="change-value"  ng-model="userInfo.post_code" ng-show="isupdate" /> 
                    </div>
              </form>

             <div class="upm-btn">
                    <a href="" ng-click="EditClick()" class="normal-btn yellow-fill up-btn" ng-hide="isupdate">Edit Info</a> 
                </div>
                <div class="upm-btn">
                    <a href="" ng-show="isupdate" class="normal-btn yellow-fill up-btn" ng-click="updateValue(userInfo)">Update Info</a>
                </div>
            </div>

        </div>  
    </div>

</div>
<my-footer></my-footer>
<div class="modal fade update" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="update-inner">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <table class="up-row">
                                        <tr>
                                            <td class="up-cell-1">New Password:</td>
                                            <td>
                                                <input type="password" class="change-value" required="required" ng-model="userInfo.password"/></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="upm-btn">
                                <a  class="normal-btn yellow-fill up-btn" data-dismiss="modal" ng-click="updateValue(userInfo)">Save</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!------------------------------ end model --------------------------------->
