 
<my-header></my-header> 

<div class="container mt3 mb5">

<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="acs">
			<div class="row change-pass">	
				<div class="col-md-6 col-sm-6">
					<img src="images/p-3.jpg" class="img-circle chang-thumb">
					<div class="name-id">
						<p class="change-pass-name">Alina Max</p>
						<p class="cid">Customer ID : CR100020</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 ">
					<div class="chang-pass-btn"><a href="" class="normal-btn yellow-fill">Change Password</a></div>
				</div>
			</div>
			<div class="row change-items">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<p class="change-name">Flat/Unit No:</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-10 pr0">
					<p class="change-value">4/20 revenslea drive</p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2 col-xs-2">
					<p class="change-link"><a href=""  data-toggle="modal" data-target=".update"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
				</div>
			</div>
			
			<div class="row change-items">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<p class="change-name">Bulilding No./Name</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-10 pr0">
					<p class="change-value">revenslea court</p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<p class="change-link"><a href="" data-toggle="modal" data-target=".update"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
				</div>
			</div>
			
			<div class="row change-items">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<p class="change-name">City or Suburb:</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-10 pr0">
					<p class="change-value">perth</p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<p class="change-link"><a href="#" data-toggle="modal" data-target=".update"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
				</div>
			</div>
			
			<div class="row change-items">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<p class="change-name">Region:</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-10 pr0">
					<p class="change-value">WA</p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<p class="change-link"><a href="" data-toggle="modal" data-target=".update"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
				</div>
			</div>
			
			<div class="row change-items">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<p class="change-name">Street:</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-10 pr0">
					<p class="change-value">revenslea</p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<p class="change-link"><a href="" data-toggle="modal" data-target=".update"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
				</div>
			</div>
			
			<div class="row change-items">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<p class="change-name">Postcode:</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-10 pr0">
					<p class="change-value">6147</p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<p class="change-link"><a href="" data-toggle="modal" data-target=".update"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
				</div>
			</div>
			
			<div class="row change-items">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<p class="change-name">COUNTRY:</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-10 pr0">
					<p class="change-value">Australia</p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<p class="change-link"><a href="" data-toggle="modal" data-target=".update"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
				</div>
			</div>
			
			<div class="row change-items">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<p class="change-name">Date of Birth:</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-10 pr0">
					<p class="change-value">22/10/1976</p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<p class="change-link"><a href="" data-toggle="modal" data-target=".update"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
				</div>
			</div>
			
			<div class="row change-items">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<p class="change-name">Mobile Phone:</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-10 pr0">
					<p class="change-value">+1-457-758-4756</p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<p class="change-link"><a href="" data-toggle="modal" data-target=".update"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
				</div>
			</div>
			
			<div class="row change-items">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<p class="change-name">Phone Number:</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-10 pr0">
					<p class="change-value">+1-457-758-4756</p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<p class="change-link"><a href="" data-toggle="modal" data-target=".update"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
				</div>
			</div>
			
		</div>
		
	</div>	
</div>

</div>
<my-footer></my-footer>

 
<!----------------------- start model --------------------------------->
	
	<div class="modal fade update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="update-inner">
					<p class="up-title">Updating your Address will required verification</p>
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<table class="up-row">
								<tr>
									<td class="up-cell-1">Flat/Unit No:</td>
									<td class="up-cell-2">4/20 Ravenslea Drive</td>
								</tr>
							</table>
						</div>
					</div>
						<div class="upm-btn">
							<a href="" class="normal-btn yellow-fill up-btn">Continue</a>
						</div>
				</div>
			</div>
		</div>
      </div>
     
    </div>
  </div>
</div>

<!------------------------------ end model --------------------------------->
 
