<div class="banner_transfar">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-9 col-md-2 col-sm-offset-7  col-sm-3 col-xs-8">
				<p class="customer-id">Customer Id : CR100020</p>
			</div>
			<div class="col-md-1 col-sm-2 col-xs-4">
				<img src="images/p-3.jpg" class="img-responsive img-circle customer-thumb">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="top-btns">
					<li><a href="#/transfarDetail" class="normal-btn white">Transfer Details</a></li>
					<li><a href="#/beneficiaries" class="normal-btn white">Beneficiaries</a></li>
					<li><a href="#/accountSetting" class="normal-btn white">Accounts & Settings</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>