<nav class="navbar navbar-default ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav navbar-right ">
            <li><a href="#">Need help</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Login</a></li>
            <li class=""><a href="#" class="singup-btn">Singup</a></li>
          </ul>
        </div>
      </div>
    </nav>
   

 <div class="container-fluid bannerbox">
	<div class="row">
		<div class="col-md-6 col-sm-6 banner-1">
			<div class="banner-1-content">
				<p>Check our Rate</p>
				<div class="rate">
					<div class="rat-inner">
						<input type="text" placeholder="Send" value="">
						<select>
							<option>aud</option>
						<select>
					</div>
					<div class="rat-inner">
						<input type="text" placeholder="Recieve">
						<select>
							<option>ngn</option>
						<select>
					</div>
				</div>
					
			</div>
		</div>
		<div class="col-md-6 col-sm-6 banner-2">
			<div class="banner-2-content">
				<h2>Fastest way of sending money</h2>
				<h3>Start sending now</h3>
				<div class="row">
				<div class="col-md-7 col-sm-7 col-xs-7 v-link">
					<a href="#"><i class="fa fa-play fa-4x" aria-hidden="true"></i></a>
				</div>
				</div>
				<p>Let's show you how it works</p>
			</div>
		</div>
	</div>
</div>
<div class="container">
<div class="container steps mt7 mb5">
<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="step-title">
			<p class="main-title">How Our Cash Remit Works</p>
			<p class="sub-title">just 3 Easy Step</p>
		</div>
	</div>
</div>
	
	<div class="row mt8">
		<div class="col-sm-4 col-md-4">
			<div class="step-box">
				<div class="number">
					<h1>1</h1>
				</div>
				<p>Choose Your Country</p>
			</div>
		</div>
		<div class="col-sm-4 col-md-4">
			<div class="step-box">
				<div class="number">
					<h1>2</h1>
				</div>
				<p>Choose Recipiant or Add New</p>
			</div>
		</div>
		<div class="col-sm-4 col-md-4">
			<div class="step-box">
				<div class="number">
					<h1>3</h1>
				</div>
				<p>Send Money</p>
			</div>
		</div>
	</div>
</div>

<div class=" app-section">
	<div class="container ">
		<div class="row">
			<div class="col-md-4 col-sm-4 mt8">
				<img src="images/Iphone.png" class="img-responsive app-mobile">
			</div>
			<div class="col-md-8 col-sm-8">
				<div class="app-content">
					<h1>We Provide The CheapestRrate<br/>Simple, Secured And Fast Technology</h1>
					<p>Download our apple and start sending</p>
					<div class="row mt3">
						<div class="col-md-4 col-sm-6 col-xs-6 app-link">
							<a href="#"><img src="images/appstoreNew@2x.png" class="img-responsive"></a>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-6 app-link">
							<a href="#"><img src="images/Google_play.png" class="img-responsive"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container people mb5">
<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="people-title">
			<p class="main-title">5/5 START RATING, 29117 REVIEWS ON TRUSTPILOT</p>
		</div>
	</div>
</div>
	
	<div class="row ">
		<div class="col-sm-6 col-md-6">
			<div class="people-box mr15">
				<div class="avtar">
					<img src="images/p-1.jpg" class="img-responsive img-circle">
				</div>
				<p>Everything should be as simple as it is, but not simpler; Believe that life is worth living and your belief will help create the fact. We help your ideas come to life.</p>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div class="people-box ml15">
				<div class="avtar">
					<img src="images/p-2.jpg" class="img-responsive img-circle">
				</div>
				<p>Do not dream of the future, concentrate the mind on the present moment. Dream big. Go forward Never allow yourself to be made a victim. Accept no one's definition.</p>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-6 col-md-6">
			<div class="people-box mr15">
				<div class="avtar">
					<img src="images/p-3.jpg" class="img-responsive img-circle">
				</div>
				<p>This is beautiful theme. All what you need to build professional site and in the same time easy to use.  Great admin options and tools. It is perfect.</p>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div class="people-box ml15">
				<div class="avtar">
					<img src="images/p-4.jpg" class="img-responsive img-circle">
				</div>
				<p>Built with award winning page and post backend editor extended with amazing features developed specifically for Quince. Best portfolio and slider building.</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid footer pt5 pb5">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<ul class="footer-links">
					<li><a href="#">About Us</a></li>
					<li><a href="#">Media Release</a></li>
					<li><a href="#">Corporate Patner</a></li>
					<li><a href="#">Career</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-4">
				<ul class="footer-links">
					<li><a href="#">Sign Up</a></li>
					<li><a href="#">Currency Converter</a></li>
					<li><a href="#">Tell a Friend</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-4">
				<ul class="footer-links">
					<li><a href="#">Tel: +61 812354940</a></li>
					<li><a href="#">support@cashremit.com</a></li>
				</ul>
				
				<p class="social-title">Follow Us</p>
				<ul class="social">
					<li><a href="#" class="tw"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></a></li>
					<li><a href="#" class="fb"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container mt2">
	<div class="row">
		<div class="col-md-2 col-sm-12">
			<p class="copy-txt">&copy; CashRemit Ltd 2016</p>
		</div>
		<div class="col-md-10 col-sm-12">
			<ul class="copy-links">
				<li><a href="#">Terms of use </a> | </li>
				<li><a href="#">Privacy policy</a> | </li>
				<li><a href="#">Cookie policy</a> | </li>
				<li><a href="#">Country site map</a> | </li>
				<li><a href="#">Financial services Guide</a> | </li>
				<li><a href="#">Product disclosure statement</a></li>
			</ul>
		</div>
	</div>
	<div class="row mt1 mb2">
		<div class="col-md-offset-1 col-md-10">
			<p class="copy-txt2">CashRemit Pvt Ltd is a designated remittance provider refistered with the Australian Transaction Report and Analysis Centre("AUSTRAC") IND101.<br/> We're regulated by the Australian Securities and Investments Commission(ASIC), Australia Financial Services Licence(AFSL) number 456295.<br/> Australian Registered Business Number(ABN) 1877768 8 3331 191 </p>
		</div>
	</div>
</div>
    </div>

   
 