<my-header></my-header>
  <div class="container-fluid bannerbox visible-md-* visible-lg-* visible-sm-* hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 banner-1 h1-banner">
                <div class="banner-1-content">
                    <p>Check our Rate</p>
                    <div class="rate homepagelable">
                        <div class="loaderbox">
                            <div class="loader"></div>
                        </div>

                        <div class="rat-inner">
                            <label for="">You want to send..</label>
                            <input type="text" ng-model="fromAmount" ng-change="convertCurFromto(fromAmount)" placeholder="1000">
                           
                            <div class="dropdown currenctdropselect">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><img ng-src="{{fromflag}}" class="flag"> {{fromCur}}
                                </button>
                                <ul class="dropdown-menu currencydropmenu">
                                    <li><input type="text" ng-model="filterfromcur" class="smallinput"></li>
                                    <li ng-repeat="currency in currencyList| filter:filterfromcur"><a href="javascript:void(0)" ng-click="selectcur(currency.currency_code, currency.logo32, 'from')"><img ng-src="{{currency.logo32}}" class="flag">{{currency.currency_code}} {{currency.currency_name}}</a></li>

                                </ul>
                            </div>

                        </div>
                        <div class="rat-inner secound">
                            <label for="">Recipiant will get...</label>
                            <input type="text" ng-model="toAmount" ng-change="convertCurtoFrom(toAmount)" placeholder="234,000">
                            <div class="dropdown currenctdropselect">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><img ng-src="{{toflag}}" class="flag"> {{toCur}}
                                </button>
                                <ul class="dropdown-menu currencydropmenu">
                                    <li><input type="text" ng-model="filtertocur" class="smallinput"></li>
                                    <li ng-repeat="currency in currencyList| filter:filtertocur"><a href="javascript:void(0)" ng-click="selectcur(currency.currency_code, currency.logo32, 'to')"><img ng-src="{{currency.logo32}}" class="flag">{{currency.currency_code}} {{currency.currency_name}}</a></li>

                                </ul>
                            </div>
                    
                        </div>
                        <div class="exchangeDes">
                            <p>Our Exchange Rate {{fromCur}} {{DefaultfromAmount}} = {{toCur}} {{DefaulttoAmount}}</p>
                            <div class="get-started row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="first-btn0"><a href="#" class="normal2-btn1 yellow-fill">Tell A Friend</a></div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="first-btn1">
                                       
                                        <a ng-href="{{gotopage}}" class="normal2-btn1 yellow-fill" ng-if="isLogin == true">Get Started</a>
                                        <a data-backdrop="static" data-toggle="modal" data-target="#myModal" class="normal2-btn1 yellow-fill" ng-if="isLogin == false">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 banner-2 h2-banner">
                <div class="banner-2-content">
                    <h2>Fastest way of sending money</h2>
                    <h3>Start sending now</h3>
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-7 v-link">
                            <a href="#"><i class="fa fa-play fa-4x" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <p>Let's show you how it works</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid visible-xs-* hidden-sm hidden-md hidden-lg ">
    <div class="row">
        <div class="col-md-6 col-sm-6 banner-1">
            <div class="banner-1-content">
                <p>Check our Rate</p>
                <div class="rate">
                    <div class="rat-inner">
                        <input type="text" placeholder="Send" value="">
                        <select>
                            <option>aud</option>
                            <select>
                                </div>
                                <div class="rat-inner">
                                    <input type="text" placeholder="Recieve">
                                    <select>
                                        <option>ngn</option>
                                        <select>
                                            </div>
                                            </div>

                                            </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 banner-2">
                                                <div class="banner-2-content">
                                                    <h2>Fastest way of sending money</h2>
                                                    <h3>Start sending now</h3>
                                                    <div class="row">
                                                        <div class="col-md-7 col-sm-7 col-xs-7 v-link">
                                                            <a href="#"><i class="fa fa-play fa-4x" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                    <p>Let's show you how it works</p>
                                                </div>
                                            </div>
                                         </div>
                                    </div>

                                    <div class="col-md-12 cardscroll">
                                        <h1>Join Over 5 million  World-Wide Happy Users</h1>
                                    </div>

                                    <div id="owl-demo" class="owl-carousel owl-theme">

                                        <div class="card">
                                            <a class="img-card" href="http://www.fostrap.com/">
                                                <img src="images/1.jpg" />
                                            </a>
                                            <br />
                                            <div class="card-content">
                                                <h4 class="card-title">
                                                    <a href="http://www.fostrap.com/">
                                                        Sending to families in India
                                                    </a>
                                                </h4>
                                            </div>
                                            <div class="card-read-more">
                                                <a class="btn btn-link btn-block" href="">
                                                    Send Now
                                                </a>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <a class="img-card" href="http://www.fostrap.com/">
                                                <img src="images/2.jpg" />
                                            </a>
                                            <br />
                                            <div class="card-content">
                                                <h4 class="card-title">
                                                    <a href="http://www.fostrap.com/">
                                                        Sending to families in India
                                                    </a>
                                                </h4>
                                            </div>
                                            <div class="card-read-more">
                                                <a class="btn btn-link btn-block" href="">
                                                    Send Now
                                                </a>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <a class="img-card" href="">
                                                <img src="images/3.jpg" />
                                            </a>
                                            <br />
                                            <div class="card-content">
                                                <h4 class="card-title">
                                                    <a href="">
                                                        Sending to families in India
                                                    </a>
                                                </h4>
                                            
                                            </div>
                                            <div class="card-read-more">
                                                <a class="btn btn-link btn-block" href="">
                                                    Send Now
                                                </a>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <a class="img-card" href="">
                                                <img src="images/4.jpg"/>
                                            </a>
                                            <br />
                                            <div class="card-content">
                                                <h4 class="card-title">
                                                    <a href="">
                                                        Sending to families in Nigeria
                                                    </a>
                                                </h4>
                                               
                                            </div>
                                            <div class="card-read-more">
                                                <a class="btn btn-link btn-block" href="">
                                                   Send Now
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container steps mt7 mb5">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="step-title">
                                                    <p class="main-title">How Our Cash Remit Works</p>
                                                    <p class="sub-title">Just 3 Easy Steps</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mt8">
                                            <div class="col-sm-4 col-md-4">
                                                <div class="step-box">
                                                    <div class="number">
                                                        <h1>1</h1>
                                                    </div>
                                                    <p>Choose Your Amount/Country</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4">
                                                <div class="step-box">
                                                    <div class="number">
                                                        <h1>2</h1>
                                                    </div>
                                                    <p>Choose Recipiant or Add New</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4">
                                                <div class="step-box">
                                                    <div class="number">
                                                        <h1>3</h1>
                                                    </div>
                                                    <p>Send Money</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class=" app-section">
                                        <div class="container ">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4 mt8">
                                                    <img src="images/Iphone.png" class="img-responsive app-mobile">
                                                </div>
                                                <div class="col-md-8 col-sm-8">
                                                    <div class="app-content">
                                                        <h1>We Provide The Cheapest Rate<br/>Simple, Secured and Fast Technology</h1>
                                                        <p>Download our apple and start sending</p>
                                                        <div class="row mt3">
                                                            <div class="col-md-4 col-sm-6 col-xs-6 app-link">
                                                                <span class="fa fa-apple" aria-hidden="true"></span>
                                                                <p>Download on</p>
                                                                <strong>App Store</strong>
                                                                <!--  <a href="#"><img src="images/appstoreNew@2x.png" class="img-responsive"></a> -->
                                                            </div>
                                                            <div class="col-md-4 col-sm-6 col-xs-6 app-link">
                                                                <span class="fa fa-android" aria-hidden="true"></span>
                                                                <p>Get it for</p>
                                                                <strong>Android</strong>
                                                                <!--  <a href="#"><img src="images/Google_play.png" class="img-responsive"></a> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container people mb5">
                                        <div class="well">
                                            <h2 class="main-title">5/5 START RATING, 29117 REVIEWS ON TRUSTPILOT</h2>
                                            <div id="myCarousel" class="carousel slide" data-ride="carousel">    
                                                <!-- Carousel items -->
                                                <div class="carousel-inner">
                                                    <div class="item active">
                                                        <div class="row">
                                                            <div class="col-sm-6 col-md-6">
                                                                <div class="people-box mr15">
                                                                    <div class="avtar">
                                                                        <img src="images/p-1.jpg" class="img-responsive img-circle">
                                                                    </div>
                                                                    <p>Everything should be as simple as it is, but not simpler; Believe that life is worth living and your belief will help create the fact. We help your ideas come to life.</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-6">
                                                                <div class="people-box mr15">
                                                                    <div class="avtar">
                                                                        <img src="images/p-1.jpg" class="img-responsive img-circle">
                                                                    </div>
                                                                    <p>Everything should be as simple as it is, but not simpler; Believe that life is worth living and your belief will help create the fact. We help your ideas come to life.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/row-->
                                                    </div>
                                                    <!--/item-->
                                                    <div class="item">
                                                        <div class="row">
                                                            <div class="col-sm-6 col-md-6">
                                                                <div class="people-box mr15">
                                                                    <div class="avtar">
                                                                        <img src="images/p-3.jpg" class="img-responsive img-circle">
                                                                    </div>
                                                                    <p>This is beautiful theme. All what you need to build professional site and in the same time easy to use.  Great admin options and tools. It is perfect.</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-6">
                                                                <div class="people-box ml15">
                                                                    <div class="avtar">
                                                                        <img src="images/p-4.jpg" class="img-responsive img-circle">
                                                                    </div>
                                                                    <p>Built with award winning page and post backend editor extended with amazing features developed specifically for Quince. Best portfolio and slider building.</p>
                                                                </div>
                                                            </div>
                                                            <!--/row-->
                                                        </div>
                                                        <!--/item-->
                                                    </div>
                                                    <!--/carousel-inner--> 
                                                    <a class="angle-left" href="#myCarousel" data-slide="prev">‹</a>
                                                    <a class="angle-right" href="#myCarousel" data-slide="next">›</a>
                                                </div>
                                                <!--/myCarousel-->
                                            </div>
                                            <!--/well-->
                                        </div>
                                    </div>

                                    <section class="serviceCenter">
                                         <div class="container">
                                         <h1>CashRemit tools that will keep you personal data save</h1>
                                            <div class="row PaymentTab">
                                                <div class="col-sm-4 col-md-4">
                                                    <div class="mass-box mr15">
                                                        <p>Poli Australia Payment Gateway</p>
                                                        <a href="http://www.polipayments.com/consumer"><img src="https://resources.apac.paywithpoli.com/poli-logo-36.png" width="70" height="70" alt="POLi Logo"/></a>
                                                    </div> 
                                                </div>        
                                                <div class="col-sm-4 col-md-4">
                                                    <div class="mass-box mr15">
                                                        <p>PCI Security Standards</p>
                                                        <a href="#"><img src="images/pci.png" width="140" height="70" alt="CR"/></a>
                                                    </div> 
                                                </div> 
                                                <div class="col-sm-4 col-md-4">
                                                    <div class="mass-box mr15">
                                                        <p>Privacy  Solutions</p>
                                                        <a href="#"><img src="images/websites_0912141.png" width="140" height="70" alt="CR"/></a>
                                                    </div> 
                                                </div>        
                                            </div>

                                              <h4>CashRemit provides robust technology, infrastructure and services to enable global remittance, our service is streamlined by the Australian Anti-Money Laundering and Counter-Terrorism Financing Rules AML/CTF Rules</h4>
                                        </div> 
                                    </section>
                       <my-footer></my-footer>