<!DOCTYPE html>
<html lang="en">
<head>
	<!-- <title>Laravel 5.2</title> -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Cash Remit </title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
 
    <script src="js/ie-emulation-modes-warning.js"></script> 
		
	<!-- Angular JS -->
	<script src="angular/lib/angular.js"></script>  
	<script src="angular/lib/angular-route.js"></script>

	<!-- MY App -->
	<script src="angular/packages/dirPagination.js"></script>
	<script src="angular/routes.js"></script>
	<script src="angular/constant.js"></script>
	<script src="angular/services/myServices.js"></script>
    <script src="angular/directives/directive.js"></script>
	<script src="angular/helper/myHelper.js"></script>

	<!-- App Controller -->
	<script src="angular/controllers/ItemController.js"></script>
	<script src="angular/controllers/loginController.js"></script>
	<script src="angular/controllers/accountSettingController.js"></script>
        
        <!-- facebook and google plus -->
        <script src="angular/lib/angular-facebook.js"></script>
        <script src="angular/lib/google-plus-signin.js"></script>

</head>
<body ng-app="main-App">
    <ng-view></ng-view>
	<!-- Scripts -->
 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
