<my-header></my-header>
<div class="container mt5 mb5">
<div class="row">
	<div class="col-md-12 col-sm-12 ">
		<div class="numbers-section">
			<div class="row">
				<div class="col-md-12">
					<ul class="number-link">
						<li class="active"><a href="#">1</a></li>
						<li><a href="payment_transfar-2.html">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-5">
					<p>Choose from country</p>
						<div class="drop-main">
						  <button class="btn btn-default dropdown-toggle dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<img src="images/country.png" class="img-responsive flag">
						  </button>
						  <ul class="dropdown-menu drop-list" aria-labelledby="dropdownMenu1">
							<li><a href="#"><img src="images/country.png" class="img-responsive flag"></a></li>
							<li><a href="#"><img src="images/country.png" class="img-responsive flag"></a></li>
							<li><a href="#"><img src="images/country.png" class="img-responsive flag"></a></li>
						  </ul>
						</div>
				</div>
			</div>
			<div class="row second-main">
				<div class="col-md-8 col-sm-9">
					<div class="second-box">
						<div class="row">
							<div class="col-md-8 pl0">
								<p>Tell a friend and get Transfer Bonus Code</p>
							</div>
							<div class="col-md-4 pl0 pr0">
								<div class="pull-right second-btn"><a href="#" class="normal2-btn yellow-fill">Tell a Friend</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>


</div>


<my-footer></my-footer>	