	
	<style>
		.dropdown{text-align:left; border-color:#95989a;}
		.dropdown span{color:#95989a; font-size:20px;padding-left:10px;}
		.dropdown-menu{top:15.5%; width:95%;}
		.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background:#fff;}
		.drop-list li a{color:#95989a; font-size:20px;}
		.drop-list li a span{padding-left:10px;}
	</style>

<my-header></my-header>
<div class="container mt3 mb5">

<div class="row">
	<div class="col-md-12 col-sm-12 ">
		<div class="sender-name">
			<p>Sender Name : Hyginus Ugwumba</p>
		</div>
		<div class="top-amount">
			<p><span class="amt">NGN 1,008.55</span> <i class="fa fa-pencil" aria-hidden="true"></i></p>
		</div>
		
		<div class="row mt5">
			<div class="col-md-3 col-sm-3">
				<div class="sub-title">
					<p>Add New Recipient</p>
					<div class="new-r"><a href="#"  data-toggle="modal" data-target="#myModal"><i class="fa fa-plus" aria-hidden="true"></i></a></div>
				</div>
			</div>
			<div class="col-md-9 col-sm-9">
				<div class="sub-title ">
					<p>Choose Your Recipient</p>
				</div>
					<div class="cyr row ml0 mr0">
						<div class="person">
							<div class="avtar-icon">
								<p>JS</p>
							</div>
							<p class="name actual">John Smith</p>
							<p><i class="fa fa-check" aria-hidden="true"></i></p>
						</div>
						
						<div class="person">
							<div class="avtar-icon">
								<p>MM</p>
							</div>
							<p class="name ">Mark Mars</p>
						</div>
						
						<div class="person">
							<div class="avtar-icon">
								<p>CU</p>
							</div>
							<p class="name ">Chika Ugwumba</p>
						</div>
						
						<div class="person">
							<div class="avtar-icon">
								<p>EU</p>
							</div>
							<p class="name ">Edith Ugwumba</p>
						</div>
						
						<div class="person">
							<div class="avtar-icon">
								<p>TS</p>
							</div>
							<p class="name ">Tigo Smith</p>
						</div>
					</div>
					
				<div class="row mt2">
					<div class="col-md-12">
						<div>
							<table class="detail-table">
								<tr>
									<td class="lbl"><p>Recipient Full Name:</p></td>
									<td class="lbl-2"><p>John Smith</p></td>
								<tr>
								<tr>
									<td class="lbl"><p>Bank:</p></td>
									<td class="lbl-2"><p>GurantTB Bank</p></td>
								<tr>
								<tr>
									<td class="lbl"><p>Account Number:</p></td>
									<td class="lbl-2"><p>01246354788</p></td>
								<tr>
								<tr>
									<td class="lbl"><p>City/Town:</p></td>
									<td class="lbl-2"><p>01246354788</p></td>
								<tr>
								<tr>
									<td class="lbl"><p>Mobile Number:</p></td>
									<td class="lbl-2"><p>+234980388 49589</p></td>
								<tr>
								<tr>
									<td class="lbl"><p>&nbsp;</p></td>
									<td class="lbl-box"><a href="#">Make Payment</a></td>
								<tr>
							</table>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
	</div>	
</div>


</div>

<my-footer></my-footer>	
