<div class='ng-modal' ng-show='show'>
    <div class='ng-modal-overlay' ng-click='hideModal()'>

    </div>
    <div class='ng-modal-dialog' ng-style='dialogStyle'>
        <div class='ng-modal-close' ng-click='hideModal()'>X</div>
        <div class="ng-modal-dialog-content modal-dialog modal-lg" role="document" ng-style='dialogStyle'>
        <div class="modal-content">

            <div class="modal-body-sl ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 pl0 pr0 visible-md-* visible-lg-* visible-sm-* hidden-xs">
                            <img src="images/popup.jpg" class="img-responsive">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            <div class="sl-tab">

                                <!-- Nav tabs -->
                                <div class="center-sl">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
                                        <li role="presentation"><a href="#singup" aria-controls="singup" role="tab" data-toggle="tab">Singup</a></li>
                                    </ul>
                                </div>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="login">
                                        <div class="sl-inner">
                                            <h3 class="sl-lg-title">Login to Cash Remit</h3>
                                            <form>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Enter your email">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" class="form-control" placeholder="Enter your password">
                                                </div>
                                                <p class="sl-lg"><a href="#">Forgot Password?</a></p>
                                                <button type="submit" class="form-submit">Login</button>
                                            </form>
                                            <p class="or">Or login with</p>
                                            <div class="l-with">
                                                <a href="#" class="sl-fb"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                                                <a href="#" class="sl-gp"><i class="fa fa-google-plus" aria-hidden="true"></i> Gmail</a>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="sl-msg">
                                                <p><i class="fa fa-lock" aria-hidden="true"></i> 100% SECURE & AUTH AUTHORISED</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="singup">
                                        <div class="sl-inner">
                                            <h3 class="sl-lg-title">Singup For Free</h3>
                                            <form>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Enter your email">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" class="form-control" placeholder="Creat your password">
                                                </div>
                                                <div class="form-group sl-names-1">
                                                    <input type="text" class="nm-sl" placeholder="First Name">
                                                </div>
                                                <div class="form-group sl-names-2">
                                                    <input type="text" class="nm-sl" placeholder="Last Name">
                                                </div>
                                                <button type="submit" class="form-submit">Singup</button>
                                            </form>
                                            <p class="or">Or singup with</p>
                                            <div class="l-with">
                                                <a href="#" class="sl-fb"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                                                <a href="#" class="sl-gp"><i class="fa fa-google-plus" aria-hidden="true"></i> Gmail</a>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="sl-msg">
                                                <p><i class="fa fa-lock" aria-hidden="true"></i> 100% SECURE & AUTH AUTHORISED</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
        <!--<div class='ng-modal-dialog-content' ng-transclude></div>-->

    </div>

</div>


<!--<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-show='show'>
    <div class="modal-dialog modal-lg" role="document" ng-style='dialogStyle'>
        <div class="modal-content">

            <div class="modal-body-sl ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 pl0 pr0 visible-md-* visible-lg-* visible-sm-* hidden-xs">
                            <img src="images/popup.jpg" class="img-responsive">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            <div class="sl-tab">

                                 Nav tabs 
                                <div class="center-sl">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
                                        <li role="presentation"><a href="#singup" aria-controls="singup" role="tab" data-toggle="tab">Singup</a></li>
                                    </ul>
                                </div>

                                 Tab panes 
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="login">
                                        <div class="sl-inner">
                                            <h3 class="sl-lg-title">Login to Cash Remit</h3>
                                            <form>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Enter your email">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" class="form-control" placeholder="Enter your password">
                                                </div>
                                                <p class="sl-lg"><a href="#">Forgot Password?</a></p>
                                                <button type="submit" class="form-submit">Login</button>
                                            </form>
                                            <p class="or">Or login with</p>
                                            <div class="l-with">
                                                <a href="#" class="sl-fb"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                                                <a href="#" class="sl-gp"><i class="fa fa-google-plus" aria-hidden="true"></i> Gmail</a>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="sl-msg">
                                                <p><i class="fa fa-lock" aria-hidden="true"></i> 100% SECURE & AUTH AUTHORISED</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="singup">
                                        <div class="sl-inner">
                                            <h3 class="sl-lg-title">Singup For Free</h3>
                                            <form>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Enter your email">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" class="form-control" placeholder="Creat your password">
                                                </div>
                                                <div class="form-group sl-names-1">
                                                    <input type="text" class="nm-sl" placeholder="First Name">
                                                </div>
                                                <div class="form-group sl-names-2">
                                                    <input type="text" class="nm-sl" placeholder="Last Name">
                                                </div>
                                                <button type="submit" class="form-submit">Singup</button>
                                            </form>
                                            <p class="or">Or singup with</p>
                                            <div class="l-with">
                                                <a href="#" class="sl-fb"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                                                <a href="#" class="sl-gp"><i class="fa fa-google-plus" aria-hidden="true"></i> Gmail</a>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="sl-msg">
                                                <p><i class="fa fa-lock" aria-hidden="true"></i> 100% SECURE & AUTH AUTHORISED</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>-->