<my-header></my-header>
<div class="container mt3 mb5">

<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="td mb3">
			<h3 class="td-title">Transfer Details</h3>
		</div>
		<div class="td-search">
			<input type="text" placeholder="Search for transaction">
		</div>
		
		<div class="row mt3">
			<div class="col-md-2 col-sm-2">
				<div class="avtar-icon-td">
					<p>EU</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="detail-td">
					<p class="name-td">Edith Ugwumba</p>
					<p class="amt-td">Amount: $1,008.55</p>
					<p class="tn-td">TN: EZ0003562873</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-3">
				<div class="status-td"><p>Completed</p></div>
			</div>
			<div class="col-md-2 col-sm-3">
				<div class="more-td">
				<p class="icon-td"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></p>
				<p><a href="#">More Details</a></p>
				</div>
			</div>
		</div>
		<hr class="hr-td"></hr>
			
		<div class="row">
			<div class="col-md-2 col-sm-2">
				<div class="avtar-icon-td">
					<p>EU</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="detail-td">
					<p class="name-td">Edith Ugwumba</p>
					<p class="amt-td">Amount: $1,008.55</p>
					<p class="tn-td">TN: EZ0003562873</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-3">
				<div class="status-td"><p>Completed</p></div>
			</div>
			<div class="col-md-2 col-sm-3">
				<div class="more-td">
				<p class="icon-td"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></p>
				<p><a href="#">More Details</a></p>
				</div>
			</div>
		</div>
		<hr class="hr-td"></hr>
		
		<div class="row">
			<div class="col-md-2 col-sm-2">
				<div class="avtar-icon-td">
					<p>EU</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="detail-td">
					<p class="name-td">Edith Ugwumba</p>
					<p class="amt-td">Amount: $1,008.55</p>
					<p class="tn-td">TN: EZ0003562873</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-3">
				<div class="status-td"><p>Completed</p></div>
			</div>
			<div class="col-md-2 col-sm-3">
				<div class="more-td">
				<p class="icon-td"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></p>
				<p><a href="#">More Details</a></p>
				</div>
			</div>
		</div>
		<hr class="hr-td"></hr>
		
		<div class="row">
			<div class="col-md-2 col-sm-2">
				<div class="avtar-icon-td">
					<p>EU</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="detail-td">
					<p class="name-td">Edith Ugwumba</p>
					<p class="amt-td">Amount: $1,008.55</p>
					<p class="tn-td">TN: EZ0003562873</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-3">
				<div class="status-td"><p>Completed</p></div>
			</div>
			<div class="col-md-2 col-sm-3">
				<div class="more-td">
				<p class="icon-td"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></p>
				<p><a href="#">More Details</a></p>
				</div>
			</div>
		</div>
		<hr class="hr-td"></hr>
		
		<div class="row">
			<div class="col-md-2 col-sm-2">
				<div class="avtar-icon-td">
					<p>EU</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="detail-td">
					<p class="name-td">Edith Ugwumba</p>
					<p class="amt-td">Amount: $1,008.55</p>
					<p class="tn-td">TN: EZ0003562873</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-3">
				<div class="status-td"><p>Completed</p></div>
			</div>
			<div class="col-md-2 col-sm-3">
				<div class="more-td">
				<p class="icon-td"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></p>
				<p><a href="#">More Details</a></p>
				</div>
			</div>
		</div>
		<hr class="hr-td"></hr>
		
		<div class="row">
			<div class="col-md-2 col-sm-2">
				<div class="avtar-icon-td">
					<p>EU</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="detail-td">
					<p class="name-td">Edith Ugwumba</p>
					<p class="amt-td">Amount: $1,008.55</p>
					<p class="tn-td">TN: EZ0003562873</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-3">
				<div class="status-td"><p>Completed</p></div>
			</div>
			<div class="col-md-2 col-sm-3">
				<div class="more-td">
				<p class="icon-td"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></p>
				<p><a href="#">More Details</a></p>
				</div>
			</div>
		</div>
		<hr class="hr-td"></hr>
		
		<div class="row">
			<div class="col-md-2 col-sm-2">
				<div class="avtar-icon-td">
					<p>EU</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="detail-td">
					<p class="name-td">Edith Ugwumba</p>
					<p class="amt-td">Amount: $1,008.55</p>
					<p class="tn-td">TN: EZ0003562873</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-3">
				<div class="status-td"><p>Completed</p></div>
			</div>
			<div class="col-md-2 col-sm-3">
				<div class="more-td">
				<p class="icon-td"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></p>
				<p><a href="#">More Details</a></p>
				</div>
			</div>
		</div>
		<hr class="hr-td"></hr>
		
	</div>	
</div>

</div>
<my-footer></my-footer>	


